body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

.cities h3{
    display: grid;
    height: 30vh;
    grid-template-columns: 1fr 1fr;
}

.box{
    padding: 70px 0;
    text-align: center;
    background-color: white;
  }

  .box :hover{
    padding: 70px 0;
    text-align: center;
    color: white;
    background-color: #F95738;
  }


  .options h3{
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .2rem;
}

.about{
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 1fr;
   
}


  body{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    background: #FCE7BE;
    color: #F95738;
}

.heading h1{
    text-shadow: -6px -2px  #002868;
    font-size: 60px;
}

.heading p{
    font-size: 20px;
}


p{
    font-family: 'Muli', sans-serif;
}

.tab {
    overflow: hidden;
    background-color: white;
}

/* Style the buttons inside the tab */
.tab button {
    font-family: 'Muli', sans-serif;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: #F95738;
    background-color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #F95738;
    color: white;
    transition: 0.9s;
     background-image: url("....");
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #F95738;
    color: white;
}

/* Style the tab content */
.tabcontent {
    font-family: 'Muli', sans-serif;
    text-align: center;
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F95738;
    color: white;
    text-align: left;
    font-family: 'Muli', sans-serif;
 }


 .healine{
     font-size: 15rem;
 }

.sub-headline{
    font-size: 10rem;
}


.overflow{
    height: 200vh;
}


a{
    text-decoration: none;
    color: #F95738;
    font-family: 'Muli', sans-serif;
}

.box :hover{
    color: white;
    background-color: #F95738;
}