body{
    font-family: 'Muli', sans-serif;
    background: aliceblue;
    text-align: center;
}


.hello h1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.heading{
    line-height: 1.6;
    padding: 1px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #76b3f8;
}

.heading h1{
    color: #002868;
    text-shadow: 3px 3px #ffffff;
    size: 40px;
}

.heading p{
    color: #083d77;
}

h3 a{
    padding: 1px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.box:hover{
    text-decoration: underline;
    background-origin: padding-box;
    border-bottom: 3px;
    box-shadow: 5px 10px #2086fa;
}

.cities a{
    color: #083d77;
    text-decoration: underline;
    text-decoration-color: #083d77;
}

.options a{ 
    color: #083d77;
    text-decoration: underline;
    text-decoration-color: #083d77;
}


body {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  }

.cities h3{
    display: grid;
    height: 30vh;
    grid-template-columns: 1fr 1fr;
}


.options h3{
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .2rem;
}

.box {
    padding: 70px 0;
    text-align: center;
    background-color: #76b3f8;
    border-radius: 5px;
  }

button
{
    padding: 0;
border: none;
background: none;
}


.tab button {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: #002868;
    background-color: #76b3f8;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #002868;
    color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #002868;
    color: #76b3f8;
}

.submit a{
    text-decoration: underline;
    color: #083d77;
}