body{
    font-family: 'Muli', sans-serif;
    background: aliceblue;
    text-align: center;
}

.heading{
    grid-area: heading;
    color: #002868;
    text-shadow: 3px 3px #ffffff;
    size: 40px;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hello{
    grid-column: span 2;
}

.block{
    font-family: 'Muli', sans-serif;
    border: 0;
    outline: none;
    border-radius: 10px;
    padding: 14px 16px;
    color: #002868;
    background-color: #76b3f8;
    margin: 1px;
}

