body{
    font-family: 'Muli', sans-serif;
    background: aliceblue;
    text-align: center;
}


body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hello{
    grid-column: span 2;
}

.block{
    font-family: 'Muli', sans-serif;
    border: 0;
    outline: none;
    border-radius: 10px;
    color: #002868;
    margin: 1px;
}

