body{
    font-family: 'Muli', sans-serif;
    background: #ebebd3;
    text-align: center;
}

.heading{
    grid-area: heading;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hello{
    grid-column: span 2;
}